{% extends "page.html.twig" %}

{% block content %}
    <form class="ui form" action="{% if booking.getId() %}{{ url_for("events_storebooking_edit", {"id": booking.getId()}) }}{% else %}{{ url_for("events_storebooking_add") }}{% endif %}" method="post" id="modifform" enctype="multipart/form-data">
        <div class="ui styled fluid accordion field">
            <div class="active title">
                <i class="icon dropdown"></i>
                {{ _T("Booking informations", "events") }}
            </div>
            <div class="active content">
                {% include "components/forms/date.html.twig" with {
                    id: 'booking_date',
                    value: booking.getDate(),
                    label: _T("Booking date", "events"),
                    required: true
                } %}

                {% if (login.isAdmin() or login.isStaff()) or not booking.getId() %}
                    {% set event_list_values = {(-1): _T("Select an event", "events")} %}
                    {% for event in events %}
                        {% set event_list_values = event_list_values + {(event.getId()): event.getName()} %}
                    {% endfor %}

                    {% include "components/forms/select.html.twig" with {
                        id: 'event',
                        value: booking.getEventId(),
                        values: event_list_values,
                        label: _T("Event", "events"),
                        required: true
                    } %}
                {% else %}
                <div class="inline field">
                    <label class="required">{{ _T("Event", "events") }}</label>
                    <input type="hidden" name="event" value="{{ booking.getEventId() }}"/>
                    {{ booking.getEvent().getName() }}
                </div>
                {% endif %}

                {% if (login.isAdmin() or login.isStaff()) or login.isGroupManager() %}
                <div class="field required">
                    <label for="member">{{ _T("Member") }}</label>
                    <div id="member" class="jsonly search-dropdown ui input nochosen paginated">
                        <input id="member_input" type="hidden" name="member" value="{{ booking.getMemberId() }}" placeholder="{{ _T("Member") }}">
                        <i class="jsonly displaynone dropdown icon"></i>
                        <span class="ui mini compact icon disabled button prev-results"><i class="jsonly displaynone chevron circle left icon disabled button tooltip" title="{{ _T("Load previous members...") }}"></i></span>
                        <span class="ui mini compact icon disabled button next-results"><i class="jsonly displaynone chevron circle right icon disabled button tooltip" title="{{ _T("Load following members...") }}"></i></span>
                        <div class="jsonly displaynone default text">{{ _T("Search for name or ID and pick member") }}</div>
                        <div class="jsonly displaynone menu">
                            {% for k, v in members.list %}
                                <div class="item" data-value="{{ k }}">{{ v }}</div>
                            {% endfor %}
                        </div>
                    </div>
                </div>
                {% elseif booking.getMemberId() %}
                    <div class="inline field">
                        <label class="required">{{ _T("Member") }}</label>
                        <input type="hidden" name="member" value="{{ booking.getMemberId() }}"/>
                        {{ booking.getMember().sfullname }}
                    </div>
                {% endif %}

                {% include "components/forms/number.html.twig" with {
                    id: 'number_people',
                    value: booking.getNumberPeople(),
                    label: _T("Number of persons", "events")
                } %}

                {% include "components/forms/textarea.html.twig" with {
                    id: 'comment',
                    value: booking.getComment(),
                    label: _T("Comment", "events")
                } %}
            </div>
        </div>

        <div class="ui styled fluid accordion field">
            <div class="active title">
                <i class="icon dropdown"></i>
                {{ _T("Activities", "events") }}
            </div>
            <div class="active content">
                {% for aid, item in booking.getEvent().getActivities() %}
                    {% include "components/forms/checkbox.html.twig" with {
                        id: 'activity_' ~ aid,
                        name: 'activities[]',
                        value: aid,
                        label: item.activity.getName(),
                        checked: booking.has(aid),
                        disabled: booking.getEventId() and not booking.getEvent().hasActivity(aid),
                        required: booking.getEventId() and booking.getEvent().isActivityRequired(aid)
                    } %}
                {% else %}
                    <p>{{ _T("No activity for selected event", "events") }}</p>
                {% endfor %}
            </div>
        </div>

    {% if login.isAdmin() or login.isStaff() %}
        <div class="ui styled fluid accordion field">
            <div class="active title">
                <i class="icon dropdown"></i>
                {{ _T("Financial informations", "events") }}
            </div>
            <div class="active content">
                {% include "components/forms/checkbox.html.twig" with {
                    id: 'paid',
                    value: booking.isPaid(),
                    label: _T("Paid", "events"),
                    checked: booking.isPaid()
                } %}

                {% include "components/forms/text.html.twig" with {
                    id: 'amount',
                    value: booking.getAmount(),
                    label: _T("Amount", "events"),
                } %}

                {% include "components/forms/payment_types.html.twig" with {
                    show_inline: true,
                    current: booking.getPaymentMethod(),
                    varname: "payment_method"
                } %}

                {% include "components/forms/text.html.twig" with {
                    id: 'bank_name',
                    value: booking.getBankName(),
                    label: _T("Bank name", "events"),
                } %}

                {% include "components/forms/text.html.twig" with {
                    id: 'check_number',
                    value: booking.getCheckNumber(),
                    label: _T("Check number", "events"),
                } %}
            </div>
        </div>
    {% endif %}
        <div class="ui basic center aligned fitted segment">
            <button type="submit" name="save" class="action ui labeled icon primary button">
                <i class="save icon"></i> {{ _T("Save") }}
            </button>
            <input type="hidden" name="id" id="id" value="{{ booking.getId() }}"/>
            {% include "components/forms/csrf.html.twig" %}
        </div>
    </form>
{% endblock %}

{% block javascripts %}
    <script type="text/javascript">
        {% include "elements/js/choose_adh.js.twig" with {
            "js_chosen_id": "#member",
            "js_chosen_cache": false
        } %}

        $('#event').on('change', function() {
            var _this = $(this);
            var _val = _this.find('option:selected').val()
            _this.parents('form').find('input[name=save]').remove();
            _this.parents('form').submit();
        });
    </script>
{% endblock %}
