a.fc-col-header-cell-cushion,
a.fc-daygrid-day-number,
a.fc-list-day-text,
a.fc-list-day-side-text {
    color: #636b70;
}

.fc-event-title-container {
    cursor: pointer;
}

.event-notpaid {
    background-color: #FFDDDD!important;
    vertical-align: top;
}

.event-paid {
    background-color: #DDFFDD!important;
    vertical-align: top;
}

